<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="__GW__/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="__GW__/css/style.css" rel='stylesheet' type='text/css' />
    <link href="__GW__/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
</head>

<body>
    <!--/top-bar-->
    <div class="top-bar_sub_w3ls_agileits">
        <h6>
            <i class="fa fa-phone" aria-hidden="true"></i> 联系我们 : 0539-8210788 
            <a href="contact.html">联系我们</a>
        </h6>
        <div class="search">
            <h5>
                <a class="sign" href="#" data-toggle="modal" data-target="#myModal2">在线留言</a>
            </h5>
            <div class="cd-main-header_w3layouts_agile">
                <ul class="cd-header_w3layouts_agile-buttons">
                    <li>
                        <a class="cd-search-trigger" href="#cd-search">
                            <span></span>
                        </a>
                    </li>
                </ul>
                <!-- cd-header_w3layouts_agile-buttons -->
            </div>
            <div id="cd-search" class="cd-search">
                <form action="#" method="post">
                    <input name="Search" type="search" placeholder="Click enter after typing...">
                </form>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>