{include file="common/head"/}
<link rel="stylesheet" href="__GW__/css/chocolat.css" type="text/css" media="screen">
	<div class="header_w3layouts_agile-main inner_banner">
		{include file="common/header"/}
	</div>
	<!--//inner_banner-->
	<!--/short-->
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">

			<ul class="short">
				<li>
					<a href="{:url('index')}">首页</a>
					<span>|</span>
				</li>
				<li>我们的风采</li>
			</ul>
		</div>
	</div>
	<!--//short-->
	<!-- //inner_content -->

	<!-- Modal1 -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header_w3layouts_agile">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">

						<div class="login-m_page_img">

							<img src="__GW__/images/model.jpg" alt=" " class="img-responsive" />

						</div>
						<div class="login-m_page">
							<h3 class="sign">Sign In</h3>
							<div class="login-form">
								<form action="#" method="post">
									<input type="email" name="email" placeholder="E-mail" required="">
									<input type="password" name="password" placeholder="Password" required="">
									<div class="tp">
										<input type="submit" value="Sign In">
									</div>
								</form>
							</div>
							<div class="login-social-grids">
								<ul>
									<li>
										<a href="#">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-rss"></i>
										</a>
									</li>
								</ul>
							</div>
							<p>
								<a href="#" data-toggle="modal" data-target="#myModal3"> Don't have an account?</a>
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal1 -->
	<!-- Modal2 -->
	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header_w3layouts_agile">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">

						<div class="login-m_page_img">

							<img src="__GW__/images/model.jpg" alt=" " class="img-responsive" />

						</div>
						<div class="login-m_page">
							<h3 class="sign">Sign Up</h3>
							<div class="login-form">
								<form action="#" method="post">
									<input type="text" name="name" placeholder="Username" required="">
									<input type="email" name="email" placeholder="Email" required="">
									<input type="password" name="password" placeholder="Password" id="password1" required="">
									<input type="password" name="password" placeholder="Confirm Password" id="password2" required="">
									<input type="submit" value="Sign Up">
								</form>
							</div>
							<p>
								<a href="#"> By clicking Sign up, I agree to your terms</a>
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal2 -->

	<!--//header_w3layouts_agile-->
	<!--/inner_connectent-->
	<!--Gallery-->
	<div class="banner_bottom">
		<div class="container">
			<h3 class="header_w3layouts_agile">{$type}</h3>
			<div class="inner_sec_w3_agileinfo">
				<div class="col-md-4 col-sm-4 col-xs-4 gal-sec" data-aos="zoom-in">
					<div class="gallery-grid1">
						<a title="100% Satisfaction." href="__GW__/images/gal1.jpg">
							<img src="__GW__/images/gal1.jpg" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4>Fettle</h4>
								<p>Description</p>
							</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="100% Satisfaction." href="__GW__/images/gal2.jpg">
							<img src="__GW__/images/gal2.jpg" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4>Fettle</h4>
								<p>Description</p>
							</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="100% Satisfaction." href="__GW__/images/gal4.jpg">
							<img src="__GW__/images/gal4.jpg" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4>Fettle</h4>
								<p>Description</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gal-sec" data-aos="zoom-in">
					<div class="gallery-grid1">
						<a title="100% Satisfaction." href="__GW__/images/gal32.jpg">
							<img src="__GW__/images/gal3.jpg" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4>Fettle</h4>
								<p>Description</p>
							</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="100% Satisfaction." href="__GW__/images/gal5.jpg">
							<img src="__GW__/images/gal5.jpg" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4>Fettle</h4>
								<p>Description</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gal-sec" data-aos="zoom-in">
					<div class="gallery-grid1">
						<a title="100% Satisfaction." href="__GW__/images/gal6.jpg">
							<img src="__GW__/images/gal6.jpg" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4>Fettle</h4>
								<p>Description</p>
							</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="100% Satisfaction." href="__GW__/images/gal8.jpg">
							<img src="__GW__/images/gal8.jpg" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4>Fettle</h4>
								<p>Description</p>
							</div>
						</a>
					</div>
					<div class="gallery-grid1">
						<a title="100% Satisfaction." href="__GW__/images/gal7.jpg">
							<img src="__GW__/images/gal7.jpg" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4>Fettle</h4>
								<p>Description</p>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--//Gallery-->

	<!--//inner_connectent-->
	<!--footer-->
	<div class="contact-footer">

		<div class="bottom-social">
			<div class="container">
				<div class="col-md-8 botttom-nav-w3ls-agile">
					<ul class="f_links col-md-4">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="about.html">About</a>
						</li>
						<li>
							<a href="services.html">Services</a>
						</li>
						<li>
							<a href="gallery.html">Gallery</a>
						</li>
						<li>
							<a href="contact.html">Contact</a>
						</li>
					</ul>
					<ul class="f_links col-md-4">
						<li>
							<a href="index.html">Topics</a>
						</li>
						<li>
							<a href="404.html">Blog</a>
						</li>
						<li>
							<a href="404.html">Features</a>
						</li>
						<li>
							<a href="services.html">Services</a>
						</li>

					</ul>
					<ul class="f_links thrd col-md-4">
						<li>
							<a href="index.html">Topics</a>
						</li>
						<li>
							<a href="404.html">Events</a>
						</li>
						<li>
							<a href="app.html">Mobile App</a>
						</li>


					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 social-icons">
					<h6>Connect with us</h6>
					<a class="facebook" href="#">
						<span class="fa fa-facebook"></span>
					</a>
					<a class="twitter" href="#">
						<span class="fa fa-twitter"></span>
					</a>
					<a class="pinterest" href="#">
						<span class="fa fa-pinterest-p"></span>
					</a>
					<a class="linkedin" href="#">
						<span class="fa fa-linkedin"></span>
					</a>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
		<div class="copy">
			<h2 class="footer-logo">
				<a href="index.html">Fettle
					<span>Online Yoga Club</span>
				</a>
			</h2>
			<p>Copyright &copy; 2018.Company name All rights reserved.</p>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--/footer -->


	<!-- js -->
	<script type="text/javascript" src="__GW__/js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!-- password-script -->
	<script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->
	<!-- /js files -->
	<link href='__GW__/css/aos.css' rel='stylesheet prefetch' type="text/css" media="all" />
	<link href='__GW__/css/aos-animation.css' rel='stylesheet prefetch' type="text/css" media="all" />
	<script src='__GW__/js/aos.js'></script>
	<script src="__GW__/js/aosindex.js"></script>
	<!-- //js files -->
	<!--search-bar-->
	<script src="__GW__/js/main.js"></script>
	<!--gallery -->
	<script src="__GW__/js/jquery.chocolat.js"></script>
	<!--light-box-files -->
	<script type="text/javascript">
		$(function () {
			$('.gallery-grid1 a').Chocolat();
		});
	</script>
	<!-- //gallery -->
	<!--//search-bar-->
	<link rel="stylesheet" type="text/css" href="__GW__/css/easy-responsive-tabs.css " />
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="__GW__/js/move-top.js"></script>
	<script type="text/javascript" src="__GW__/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<script type="text/javascript" src="__GW__/js/bootstrap.js"></script>


</body>

</html>